<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="QRCoder" version="1.4.3" targetFramework="net462" />
  <package id="SkiaSharp" version="2.80.2" targetFramework="net462" />
  <package id="SkiaSharp.QrCode" version="0.4.1" targetFramework="net462" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net462" />
  <package id="System.Drawing.Common" version="7.0.0-preview.2.22152.2" targetFramework="net462" />
  <package id="System.Memory" version="4.5.3" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net462" />
</packages>